@model CreateUser
@{
    ViewData["Title"] = "Resetuj hasło";
}

<div class="text-center">
    <h1 class="display-4">Resetuj hasło</h1>
    <p>@Roles.Translate(ViewBag.user.Role) @ViewBag.user.Name</p>
    <form asp-controller="Admin" asp-action="Password" method="post">
        <label asp-for="Password">Nowe hasło</label>
        <input asp-for="Password"><br>
        <span asp-validation-for="Password" class="text-danger"></span> <br>

        <input type="hidden" asp-for="Email" value="@ViewBag.user.Email">
        <input type="hidden" asp-for="Role" value="@ViewBag.user.Role">
        <input type="hidden" asp-for="Name" value="@ViewBag.user.Name">
        <input type="hidden" asp-for="Id" value="@ViewBag.user.Id">

        <button type="submit">Resetuj hasło</button><br><br>
    </form>

</div>
